.app {
  background-color: #fff;
  width: 1010px;
  padding: 20px 30px;
  margin: 0 auto;
  min-height: 100vh;
}

.app__movies-list span {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}

.ant-alert {
  padding: 20px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-pagination {
  margin: 0 auto;
}